

<header class="header colored sticky-header" data-scroll="out">
				<div class="c-container">
					<div class="nav-items">
				
					<ul class="main-nav">
						<li class="nav-item">
						<a class="nav-link" [routerLink]="['/personaldetails']"><b><i>1. Personal Details </i></b></a>
						</li>
						<li class="nav-item">
						<a class="nav-link" [routerLink]="['/companydetails']"><b><i>2. Company Details</i></b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" [routerLink]="['/otp']"><b><i>3. Email Verification</i></b></a>
							</li>
			
					</ul>
					
					</div>
				</div>
			</header>