



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADD</title>

    <form>
        <div class="container"   style="margin-top: -1.5%;">
        
          <p><b>You Have successfully Verified your account </b></p>
      
      
          
            <button type="otp" class="btn" style="width: 40%; background-color: orange;" [routerLink]="['/personaldetails']"> Go Back</button>
          </div>
          
       
      </form>

  